<mat-form-field>
  <mat-label>Фильтр</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Чикадрило" #input>
</mat-form-field>

<div *ngIf="dataLoaded; then loaded else notLoaded"></div>

<ng-template #loaded>


  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Subject Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Предмет</th>
      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>

    <!-- Material Column -->
    <ng-container matColumnDef="material">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Материал</th>
      <td mat-cell *matCellDef="let element"> {{element.material}} </td>
    </ng-container>

    <!-- Material Type Column -->
    <ng-container matColumnDef="matType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип материала</th>
      <td mat-cell *matCellDef="let element"> {{element.matType}} </td>
    </ng-container>

    <!-- Task Column -->
    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Задание</th>
      <td mat-cell *matCellDef="let element"> {{element.task}} </td>
    </ng-container>

    <!-- Average Score Column -->
    <ng-container matColumnDef="avgScore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Средняя оценка</th>
      <td mat-cell *matCellDef="let element"> {{element.avgScore}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td *ngIf="input.value.length > 0" class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

</ng-template>


<ng-template #notLoaded>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

