<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Company (disabled)" disabled value="Регистрация">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput placeholder="First name">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Surname">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Patronymic</mat-label>
        <input matInput placeholder="Patronymic">
      </mat-form-field></td>
    </tr>
    <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
          </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password">
        </mat-form-field></td>
      </tr>
    </table>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Address"></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
          <tr>
            <td><mat-form-field class="example-full-width">
                <mat-label>Website</mat-label>
              <input matInput placeholder="Website">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                <mat-label>github</mat-label>
              <input matInput placeholder="github">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                <mat-label>twitter</mat-label>
              <input matInput placeholder="twitter">
            </mat-form-field></td>
          </tr>
        <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>instagram</mat-label>
        <input matInput placeholder="instagram">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>facebook</mat-label>
        <input matInput placeholder="facebook">
      </mat-form-field></td>
    </tr>
</table>
  </form>
