<form class="example-form" method="post">
  <mat-form-field class="example-full-width">
    <mat-label>Название задания</mat-label>
    <label>
      <input type="text" id="taskName" matInput placeholder="Название" required/>
    </label>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Тип предмета</mat-label>
    <mat-select [(ngModel)]="selectedType" name="subjectType">
      <mat-option *ngFor="let subType of fileTypes" [value]="subType.type">
        {{subType.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Название предмета</mat-label>
    <mat-select [(ngModel)]="selectedSubject" name="subject">
      <mat-option *ngFor="let subject of subjects" [value]="subject.title">
        {{subject.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
 <!-- <input class="btn btn-primary" type="submit" value="Submit" (click)="upload()"/>
  -->
</form>
<button class = "btn btn-primary" (click)="upload()"></button>
